<title>Browse Users - Home Server</title>

{% extends "navbar.html" %}

{% block content %}

<div class="container">
    <div class="card-columns">

        {% for user in users %}
        {% if current_user.username != user.username %}
            <div class="card" style="max-width: 300px;">
                <a href="{{ url_for('user.u', username=user.username) }}">
                    <img class="card-img-top img-fluid" src="{{ user.avatar(800) }}">
                </a>
                <div class="card-body">
                    <h4 class="card-title">@{{ user.username }}</h4>
                    <h6 class="card-text">
                        {% if user.followers.count() == 0 %}No Followers{% endif %}{% if user.followers.count() >= 1 %}{{ user.followers.count() }} Follower{% endif %}{% if user.followers.count() >  1 %}s{% endif %}{% if user.following.count() >= 1 %}, {{ user.following.count() }} Following
                        {% endif %}
                    </h6>
                    
                    {% if user.username != current_user.username %}
                        {% if not current_user.is_following(user) %}
                            <a href="{{ url_for('user.follow', username=user.username) }}">
                                <h6>Follow</h6>
                            </a>
                        {% else %}
                            <a href="{{ url_for('user.unfollow', username=user.username) }}">
                                <h6 class="text-danger">Unfollow</h6>
                            </a>
                        {% endif %}
                    {% endif%}
        
                    {% if user.description %}
                        <h5 class="card-text">"{{ user.description }}"</h5>
                    {% endif %}
                    {% if user.birthday %}
                        <h6 class="card-subtitle mb-2 text-muted">
                            Born {{ moment(user.birthday, "YYYY-MM-DD").format('MMM Do, YYYY') }}.
                        </h6>
                    {% endif %}
                    {% if user.gender %}
                        <h6 class="card-subtitle mb-2 text-muted">
                            {% if user.gender   == "m" %}Male
                            {% elif user.gender == "f" %}Female
                            {% elif user.gender == "u" %}Unspecified Gender
                            {% endif %}
                        </h6>
                    {% endif %}
                    <br>
                    <h6 class="card-subtitle mb-2 text-muted">
                        User ID: #{{ user.id }}
                    </h6>
                </div>
            </div>
        {% endif %}
        {% endfor %}

    </div>
</div>


{% endblock %}