{% if user.username == current_user.username %}
    <title>Your Profile - Home Server</title>
{% else %}
    <title>@{{ user.username }}'s Profile - Home Server</title>
{% endif %}

{% extends "navbar.html" %}

{% block content %}

<div class="form-row mt-2 mb-4" >

    <!-- Profile picture -->
    <div class="card col-md-3">
        <div class="card-body mx-auto">
            <figure class="figure">
                <img src="{{ user.avatar(256) }}" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption text-center">Last seen {{ moment(user.last_seen).fromNow() }}.</figcaption>
            </figure>
        </div>
    </div>

    <!-- User info -->
    <div class="card {% if user.username == current_user.username %}col-md-4{% else %}col-md-5{% endif %}">
        <div class="card-body">
            <h2 class="card-title">@{{ user.username }}</h2>

            <h5 class="card-text">
                {% if user.followers.count() == 0 %}No Followers{% endif %}{% if user.followers.count() >= 1 %}{{ user.followers.count() }} Follower{% endif %}{% if user.followers.count() >  1 %}s{% endif %}{% if user.following.count() >= 1 %}, {{ user.following.count() }} Following
                {% endif %}
            </h5>
            
            {% if user.username != current_user.username %}
                {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('user.follow', username=user.username) }}">
                        <h6>Follow</h6>
                    </a>
                {% else %}
                    <a href="{{ url_for('user.unfollow', username=user.username) }}">
                        <h6 class="text-danger">Unfollow</h6>
                    </a>
                {% endif %}
            {% endif%}

            {% if user.description %}
                <h5 class="card-text">"{{ user.description }}"</h5>
            {% endif %}
            {% if user.birthday %}
                <h6 class="card-subtitle mb-2 text-muted">
                    Born {{ moment(user.birthday, "YYYY-MM-DD").format('MMM Do, YYYY') }}.
                </h6>
            {% endif %}
            {% if user.gender %}
                <h6 class="card-subtitle mb-2 text-muted">
                    {% if user.gender   == "m" %}Male
                    {% elif user.gender == "f" %}Female
                    {% elif user.gender == "u" %}Unspecified Gender
                    {% endif %}
                </h6>
            {% endif %}
            <br>
            <h6 class="card-subtitle mb-2 text-muted">
                User ID: #{{ user.id }}
            </h6>

            {% if user.username == current_user.username %}
                <a href="{{ url_for('user.edit') }}"><input class="btn btn-warning mt-2" type="submit" value="Edit Profile"></a>
                <input class="btn btn-primary mt-2" type="submit" value="Upload File" disabled>
            {% endif %}

        </div>
    </div>

    <!--Messages -->
    {% set new_messages = current_user.new_messages() %}
    {% if user.username == current_user.username %}
        <div class="card col-md-5">
            <div class="card-body p-0" style="display:block;min-height:200px;height:1;overflow:scroll;">
                <h5 class="text-center" style="margin:5px;">
                    Your messages <span class="badge badge-info" id="message_count">{{ new_messages }}</span>
                </h5>

                {% for message in messages %}
                {% set username = user.query.filter_by(id=message.sender_id).first().username %}
                <div class="list-group" id="message{{ loop.index }}">
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ message.subject }}</h5>
                            <small class="text-nowrap">{{ moment(message.timestamp).fromNow() }}</small>
                        </div>
                        <p class="mb-1">
                            {{ message.body }}
                        </p>
                        <small>@{{ username }}</small>
                        <a href="{{ url_for('user.user', username=username) }}">
                            <small class="float-right"><i>Reply&nbsp;&nbsp;</i></small>
                        </a>
                    </div>
                </div>
                {% endfor %}
        </div>
    {% elif current_user.is_following(user) %}
        <div class="card col-md-4">
            <div class="card-body p-0">
                <h5 style="margin:5px;">Message @{{ user.username }}</h5>
                <form method="POST" style="margin:5px;display:block;min-height:220px;height:1;overflow:scroll;">
                    {{ message_form.hidden_tag() }}
                    <div class="form-group">
                        {{ render_field(message_form.message_subject,
                            class="form-control",
                            placeholder="Subject",
                            autocomplete="off")
                        }}
                    </div>
                    <div class="form-group">
                         {{ render_field(message_form.message_textarea,
                            class="form-control",
                            placeholder="Message",
                            autocomplete="off")
                        }}
                    </div>
                    {{ message_form.message_submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>
    {% else %}
        <div class="card col-md-4">
            <div class="card-body p-0">
                <h5 class="text-center" style="margin:5px;">
                    <a href="{{ url_for('user.follow', username=user.username) }}">Follow</a> @{{ user.username }} to message
                </h5>
            </div>
        </div>
    {% endif %}

</div>

<!-- {% if user.username == current_user.username %}
    <h3>Your files</h3>
{% else %}
    <h3>@{{ user.username }}'s files</h3>
{% endif %} -->

{% endblock %}