{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">

    <a class="navbar-brand" href="{{ url_for('user.home') }}">
        <img src="{{ url_for('static', filename='images/icon.png') }}" width="30" height="30" class="d-inline-block align-top">
        Home Server
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link
                {% if request.path == url_for('user.home') or request.path == url_for('auth.login') %}active{% endif %}"
                href=" {{ url_for('user.home') }}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle
                 {% if request.path == url_for('user.browse') or request.path == url_for('about') %}active{% endif %}" href="#" id="exploreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Explore
                </a>
                <div class="dropdown-menu" aria-labelledby="exploreDropdown">
                    {% if current_user.is_authenticated %}
                    <a class="dropdown-item" href="{{ url_for('user.browse') }}">Users</a>

                    <div class="dropdown-divider"></div>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for('about') }}">About</a>
                </div>
            </li>

            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle
                {% if request.path == url_for('user.u', username=current_user.username) %}active{% endif %}" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    My Profile (@{{ current_user.username }})
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                <a class="dropdown-item text-primary" href="{{ url_for('user.u', username=current_user.username) }}">
                    View Profile
                </a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}">
                    Logout
                </a>
            </li>
            {% endif %}

        </ul>

        <!-- Search bar (not implemented) -->
        <form class="form-inline m-0 p-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
    
</nav>
{% endblock %}

{% block content %}
{% endblock %}